* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--almost-white: #fafafa;
	--medium-gray: #686868;
	--almost-black: #151515;
}

body {
	font-family: 'Epilogue', sans-serif;
	font-weight: 500;
	background-color: var(--almost-white);
}

footer {
	text-align: center;
	padding-bottom: 20px;
}

a {
	text-decoration: none;
	color: var(--medium-gray);
	cursor: pointer;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.navbar-buttons {
	color: var(--medium-gray);
	cursor: pointer;
}

a:hover,
.navbar-buttons:hover {
	color: var(--almost-black);
}

.dropdown-button {
	font-size: 14px;
	line-height: 1.28;
	font-family: inherit;
	font-weight: inherit;
}

.dropdown-button img {
	width: 8px;
	height: 4px;
	transition: all 0.2s ease-out;
}

.rotate-arrow {
	transform: rotate(-180deg);
}

.features-dropdown {
	padding: 24px;
	padding-bottom: 8px;
	position: absolute;
	top: -10px;
	left: -52px;
	background: white;
	border-radius: 10px;
	transform: scale(0.5);
	transition: all 0.3s ease-out;
	display: none;
}

.features-dropdown-open {
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.37);
	padding: 24px;
	padding-bottom: 8px;
	position: absolute;
	top: 35px;
	left: -93px;
	background: white;
	border-radius: 10px;
	transform: scale(1);
	display: block;
}

.features-dropdown-open a {
	font-size: 14px;
	line-height: 16px;
}

.features-dropdown li {
	margin-bottom: 16px;
}

.features-dropdown img {
	margin-right: 15px;
}

.company-dropdown {
	padding: 24px;
	padding-bottom: 8px;
	position: absolute;
	top: 15px;
	left: 83px;
	background: white;
	border-radius: 10px;
	transform: scale(0.5);
	transition: all 0.3s ease-out;
	display: none;
}

.company-dropdown-open {
	box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.37);
	padding: 24px;
	padding-bottom: 8px;
	position: absolute;
	top: 35px;
	left: 113px;
	background: white;
	border-radius: 10px;
	transform: scale(1);
	display: block;
}

.company-dropdown-open a {
	font-size: 14px;
	line-height: 16px;
}

.company-dropdown li {
	margin-bottom: 16px;
}

.login-button {
	font-size: 14px;
	line-height: 1.28;
	font-family: inherit;
	font-weight: inherit;
}

.register-button {
	font-size: 14px;
	line-height: 1.28;
	background: transparent;
	font-family: inherit;
	font-weight: inherit;
	padding: 13px 23px;
	border-radius: 14px;
	border: 1.5px solid var(--almost-black);
}

.menu-links {
	font-size: 14px;
	line-height: 1.28;
}

.dropdown-button,
.login-button {
	border: none;
	background: transparent;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 1rem;
	/* border: 1px solid black; */
}

.navbar {
	display: flex;
	justify-content: space-between;
	margin-top: 32.07px;
}

.navbar-left {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 40px;
	gap: 60px;
}

.main-menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 40px;
	position: relative;
}

.logo {
	height: 26.58px;
	width: 83.5px;
}

.hero-img-desktop {
	max-width: 500px;
}

.profile-access {
	display: flex;
	justify-content: space-evenly;
	gap: 40px;
	padding-right: 40px;
}

.page-container {
	display: flex;
	gap: 125px;
	justify-content: space-between;
	margin-top: 67px;
	padding-left: 165px;
	padding-right: 130px;
	padding-bottom: 90px;
	/* border: 1px solid black; */
}

.main-content-container {
	display: flex;
	flex-direction: column;
	max-width: 540px;
	justify-content: flex-end;
	/* margin-left: 165px; */
	/* border: 1px solid black; */
	flex-basis: 60%;
}

.main-content {
	margin-bottom: 108px;
}

.main-content h1 {
	font-weight: bold;
	font-size: 80px;
	line-height: 1;
	margin-bottom: 48px;
	width: 100%;
}

.main-content p {
	color: var(--medium-gray);
	font-size: 18px;
	line-height: 1.55;
	max-width: 445px;
	margin-bottom: 51px;
}

.learn-more-button {
	background-color: var(--almost-black);
	color: var(--almost-white);
	font-weight: bold;
	font-size: 18px;
	line-height: 1.55;
	border-radius: 15px;
	padding: 15px 28px 13px 31px;
	border: none;
	font-family: inherit;
}

.product-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 478px;
	max-height: 36px;
	gap: 40px;
	align-items: center;
	/* justify-content: center; */
	margin-right: auto;
}

.product-list img {
	max-width: 111px;
}

.desktop-img {
	max-width: 480px;
	max-height: 640px;
	/* border: 1px solid black; */
}

.desktop-img img {
	width: 100%;
	/* border: 1px solid black; */
}

.mobile-img {
	max-width: 480px;
	max-height: 640px;
	/* border: 1px solid black; */
	display: none;
}

.mobile-img img {
	width: 600px;
	/* border: 1px solid black; */
}

@media (max-width: 1236px) {
	.page-container {
		gap: 70px;
		padding-left: 104px;
		padding-right: 100px;
	}
	.product-list img {
		max-width: 70px;
	}
	.main-content h1 {
		font-size: 70px;
		line-height: 1;
	}
}

@media (max-width: 1100px) {
	.navbar-left {
		padding-left: 25px;
		gap: 40px;
	}

	.main-menu {
		gap: 30px;
	}

	.profile-access {
		padding-right: 25px;
	}

	.page-container {
		gap: 65px;
		padding-left: 85px;
		padding-right: 65px;
		padding-bottom: 90px;
		/* border: 1px solid black; */
	}
}

@media (max-width: 768px) {
	.main-menu {
		display: none;
	}
	.profile-access {
		display: none;
	}
	.desktop-img {
		display: none;
	}
	.mobile-img {
		display: block;
	}
	.page-container {
		flex-direction: column-reverse;
	}
}
